/* 
    Document   : estilo
    Created on : Aug 31, 2013, 10:08:29 AM
    Author     : camilo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
}
div
{
    background-color: rgb(255,0,0);
    
}
p:nth-child(odd)
{
    background-color: red;
}
p:nth-child(even)
{
    background-color: blue;
}
.boton
{
    background-color: blue;
    border: solid rgb(0,0,200);
    color: white;
    width: 200px;
    text-align: center;
}

